.header {
    background-color: #2f4771;
    height: 150px;
    color: #fff;
    text-align: left;
    padding: 1rem 0;
    margin: auto;
}

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    :root {
      /* remove this whole :root and put in your global css file that's shared on all pages, then just remove this section from all other Stitches you add later, only need this once in your global stylesheet */
      --primary: #008E87;
      --primaryLight: #33a59f;
      --secondary: #D98900;
      --secondaryLight: #D98900;
      --headerColor: #2f4771;
      --bodyTextColor: #4E4B66;
      --bodyTextColorWhite: #FAFBFC;
      /* 13px - 16px */
      --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
      /* 31px - 49px */
      --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
      --bodyFontSize: 1rem;
      /* 60px - 100px top and bottom */
      --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
    }
    #services-564 {
      /* remove the font family so the Stitch inherits the fonts from your global stylesheet */
      font-family: 'Roboto', 'Arial', sans-serif;
      padding: var(--sectionPadding);
    }
    #services-564 .cs-container {
      width: 100%;
      /* changes to 1280px at tablet */
      max-width: 34.375rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }
    #services-564 .cs-content {
      text-align: left;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    #services-564 .cs-topper {
      font-size: var(--topperFontSize);
      line-height: 1.2em;
      text-transform: uppercase;
      text-align: inherit;
      letter-spacing: .1em;
      font-weight: 700;
      color: var(--primary);
      margin-bottom: 0.25rem;
      display: block;
    }
    #services-564 .cs-title {
      font-size: var(--headerFontSize);
      font-weight: 900;
      line-height: 1.2em;
      text-align: inherit;
      max-width: 43.75rem;
      margin: 0 0 1rem 0;
      color: var(--headerColor);
      position: relative;
    }
    #services-564 .cs-text {
      font-size: var(--bodyFontSize);
      line-height: 1.5em;
      text-align: inherit;
      width: 100%;
      max-width: 40.625rem;
      margin: 0;
      color: var(--bodyTextColor);
    }
    #services-564 .cs-topper {
      /* Override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
      color: var(--headerColor);
    }
    #services-564 .cs-text {
      /* Override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
      margin-bottom: 1rem;
    }
    #services-564 .cs-text:last-of-type {
      margin-bottom: 2rem;
    }
    #services-564 .cs-color {
      color: var(--primary);
    }
    #services-564 .cs-h3 {
      /* 25px - 31px */
      font-size: clamp(1.5625rem, 3vw, 1.9375rem);
      line-height: 1.2em;
      font-weight: 700;
      text-align: inherit;
      /* 16px - 20px */
      margin: 0 0 clamp(1rem, 1.9vw, 1.25rem) 0;
      color: var(--headerColor);
    }
    #services-564 .cs-ul {
      width: 100%;
      margin: 0 0 2rem 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      /* 16px - 24px */
      gap: clamp(1rem, 2.5vw, 1.5rem);
    }
    #services-564 .cs-li {
      /* 16px - 20px */
      font-size: clamp(1rem, 2vw, 1.25rem);
      font-weight: 700;
      list-style: none;
      line-height: 1.5em;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      /* push icon top the top so if the list item goes to two lines the icon stays at the top */
      align-items: flex-start;
      gap: 1.25rem;
    }
    #services-564 .cs-icon {
      /* adds extra space between the icon and top of parent so it's more centered */
      margin-top: clamp(0.125rem, 0.47vw, 0.4375rem);
    }
    #services-564 .cs-button-solid {
      font-size: 1rem;
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: 0;
      color: #000;
      min-width: 9.375rem;
      padding: 0 1.5rem;
      background-color: var(--secondary);
      border-radius: 0.25rem;
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
    }
    #services-564 .cs-button-solid:before {
      content: '';
      position: absolute;
      height: 100%;
      width: 0%;
      background: #000;
      opacity: 1;
      top: 0;
      left: 0;
      z-index: -1;
      border-radius: 0.25rem;
      transition: width .3s;
    }
    #services-564 .cs-button-solid:hover:before {
      width: 100%;
    }
    #services-564 .cs-picture {
      /* changes at tablet */
      width: 100%;
      max-width: 39.375rem;
      /* changes to a clamp at tablet */
      height: 24.75rem;
      display: block;
      position: relative;
    }
    #services-564 .cs-picture img {
      position: absolute;
      top: 0;
      left: 0;
      max-width: 39.375rem;
      object-fit: cover;
    }
  }
  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #services-564 .cs-container {
      max-width: 80rem;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    #services-564 .cs-picture {
      width: 46vw;
      /* 415px - 528px */
      height: clamp(25.9375rem, 50vw, 33rem);
    }
    #services-564 .cs-content {
      width: 45%;
      max-width: 32.5rem;
    }
 } 
